* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

body {
    background-color: white;
    color: black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --main-light-green: #395E4A;
    --cream:      #F6F4EC;
    --main-yellow:    #FFD738;
}

/* HEADER ****************************************************/

.centerize-title{
    text-align: center;
    margin-top: 0;
}

.content-box{
    display: flex;
    gap: 2rem;
    padding: 3rem;
    justify-content: center;
}

.null-image{
    width: 100%;
    max-width: 20rem;
    background-color: lightgrey;
    padding: 2rem;
    border: solid 2px gray;
}

header {
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--main-light-green);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

    position: sticky;
    top: 0;
}

header a{
    display: flex;
    text-decoration: none;
    margin: 0rem;
}

header img{
    height: 3rem;
    margin-top: 4px;
    margin-bottom: 0rem;
}

header a h1{
    color: white;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (min-width: 55rem) {
    header, nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* NAV ****************************************************/

#international-events a{
gap: 0.5rem;
}

#main-title{
    display: flexbox;
}

#main-title p{
    margin-top: 0rem;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--main-yellow);
}

#main-title h1{
    margin-bottom: 0rem;
    margin-top: 10px;
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    border: solid 0.13rem white;
    padding: 0.3rem 0.8rem;
    border-radius: 2rem;
    font-weight: 600;
}

nav a:hover {
    /* text-decoration: underline; */
    color: var(--main-yellow);
}

nav a.active {
    color: var(--main-yellow);
    text-decoration: underline;
}

/* MAIN ****************************************************/

main {
    flex: 1;
    padding: 1.35rem;
}

/* not equal main and context box padding have to look back at it please */

/* IMAGES ****************************************************/

img{
    display: block;
    max-width:100%;
    height: auto;
    margin: 1rem auto;
}

/* img.detials-image{

} */

/* img.editE-image{

} */

div.index-image img{
    width:60%;
}

/* CONTENT BOX ****************************************************/

.content-box{
    background-color: var(--main-light-green);
    border-radius: 1rem;
    max-width: 60rem;
    margin: auto;
    color: white;
}

.descriptions{
    font-weight: 600;
    font-size: 30px;
}

/* .close-date{
    color: red;
} */

/* BUTTON ****************************************************/

div.index-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0rem;
    padding-bottom: 0rem;
}

a[role=button] {
    display: flex;
    align-items: center;
    font-size: inherit;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(92, 92, 92);
    cursor: pointer;
}

a.main-button{
    background-color: var(--cream);
    border: solid 1px #dad6ca;
    font-size: inherit;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

a.main-button:hover{
    color: var(--main-yellow);
}

a.signUp-button{
    border: white solid 0.8rem;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 0.5rem;
    margin: auto;
}

/* EVENT LIST ****************************************************/

li span, li a {
    display: inline-flex;
} 

a.name{
    display: flex;
    flex-grow:1;
}

/* % width are youd when you want a flexible width */

li a {
    text-decoration: none;
    color: white;
    display: inline-flex;
}

li a:hover {
    color: var(--main-yellow);
}

li.page-list {
    display: flex;
    padding: 0.2rem 1rem;
    border: solid 5px rgb(255, 255, 255);
    background-color: var(--main-light-green);
    border-radius: 1.5rem;
    margin: 1rem 10rem;
    color: white;
}

.upcomingEvent-list{
    display: inline-flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

/* TABLE ***************************************************/

table {
    font-size: inherit;
    display: block;
    width: max-content;
    border-collapse: collapse;
    margin: 1rem auto;
    border: 1px solid #369;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--main-light-green);
}

td p {
    margin: 0.3rem;
}

th{
    padding: 0.5rem;
    background-color: var(--cream);
    color: var(--main-light-green);
}

th:first-child{
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

th:last-child{
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

td {
    padding: 0.3rem 0.8rem;
    border-bottom: 1px solid var(--cream);
    color: white;
}

table td a{
    color: white;
}

table td a:hover{
    color: var(--main-yellow);
}
/* ADD BUTTON **********************************************/

#add-button {
    position: sticky;
    width: 3rem;
    right: 2rem;
    bottom: 2rem;
}

#add-button a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    height: 3rem;
    width: 3rem;
    background-color: #369;
    border-radius: 3rem;
}

/* FORMS *****************************************************/

form {
    width: max-content;
    margin: 1rem auto;
    padding: 1rem 30%;
    border: 1px solid var(--main-light-green);
    border-radius: 0.5rem;
    background-color: var(--main-light-green);
}

label {
    display: block;
    color: white;
}

input, select {
    border-radius: 0.5rem;
    width: 100%;
    display: block;
    font: inherit;
    background-color: var(--cream);
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-style: none;
    color: black;
}

input:not(:last-child),
select:not(:last-child) {
    margin-bottom: 0.8rem;
}

/* FOOTER ****************************************************/

footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--main-light-green);
    font-size: 0.8rem;
    color: white;
}

footer div.credit{
    color: slategrey;
}

/* .date{
    display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
} */