* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

body {
    background-color: white;
    color: black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --main-light-green: #395E4A;
    --cream:      #F6F4EC;
    --main-yellow:    #FFD738;
    --title-geeen: #08361D;
}

/* HEADER ****************************************************/

.centerize-title{
    text-align: center;
    margin-top: 0;
    color: var(--title-geeen);
}

.content-box{
    display: flex;
    gap: 2rem;
    padding: 3rem;
    justify-content: center;
}

.null-image{
    width: 100%;
    max-width: 20rem;
    background-color: lightgrey;
    padding: 2rem;
    border: solid 2px gray;
}

header {
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--main-light-green);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

header a{
    display: flex;
    text-decoration: none;
    margin: 0rem;
}

header img{
    height: 3rem;
    margin-top: 4px;
    margin-bottom: 0rem;
}

header a h1{
    color: white;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (min-width: 55rem) {

    header {        
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        gap: 2rem;
    }
}

.sub-title{
    font-weight: 500;
    text-align: center;
}

/* NAV ****************************************************/

#international-events {
    display: flex;
}
    
#international-events a{
    gap: 0.5rem;
}
        
#main-title{
    display: flexbox;
}

#main-title p{
    margin-top: 0rem;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#main-title h1{
    margin-bottom: 0rem;
    margin-top: 10px;
}

nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    border: solid 0.13rem white;
    padding: 0.3rem 0.8rem;
    border-radius: 2rem;
    font-weight: 600;
}

nav a:hover {
    /* text-decoration: underline; */
    color: var(--main-yellow);
}

nav a.active {
    color: var(--main-yellow);
    text-decoration: underline;
}

/* MAIN ****************************************************/

main {
    flex: 1;
    padding: 1rem;
}

/* not equal main and context box padding have to look back at it please */

/* IMAGES ****************************************************/

img{
    display: block;
    max-width:100%;
    height: auto;
    margin: 1rem auto;
}

img.detials-image{
    object-fit: cover;
    width: 20rem;
    height: 20rem;
    border-radius: 0.5rem;
}

img.editE-image{
    object-fit: cover;
    width: 8rem;
    height: 8rem;
}

div.index-image img{
    width:60%;
}

/* CONTENT BOX ****************************************************/

.content-box{
    background-color: var(--main-light-green);
    border-radius: 1rem;
    max-width: 60rem;
    margin: auto;
    color: white;
}

.descriptions{
    font-weight: 600;
    font-size: 30px;
}

#msp-log{
    text-align: center;
    margin-top: 1.5rem;
}

/* BUTTON ****************************************************/

div.index-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0rem;
    padding-bottom: 0rem;
}

a[role=button] {
    display: flex;
    align-items: center;
    font-size: inherit;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(92, 92, 92);
    cursor: pointer;
}

a.main-button{
    background-color: var(--cream);
    border: solid 1px #dad6ca;
    font-size: inherit;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

a.main-button:hover{
    color: var(--main-yellow);
}

a.signUp-button{
    border: white solid 0.8rem;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 0.5rem;
    margin: auto;
}

#add-button {
    position: fixed;
    width: 3rem;
    right: 1.5rem;
    bottom: 1.5rem;
}

@media screen and (min-width: 55rem) {

    #add-button {
        position: fixed;
        width: 3rem;
        right: 1.5rem;
        bottom: 7rem;
    }

}


#add-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 3rem;
    width: 3rem;
    
    border: 1px solid var(--title-geeen);
    background-color: var(--main-light-green);
    border-radius: 3rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

/* EVENT LIST ****************************************************/

li span, li a {
    display: inline-flex;
} 

a.name{
    display: flex;
    flex-grow:1;
}

/* % width are youd when you want a flexible width */

li a {
    text-decoration: none;
    color: white;
    display: inline-flex;
}

li a:hover {
    color: var(--main-yellow);
}

li.page-list {
    padding: 0.5rem 1rem;
    border: solid 5px rgb(255, 255, 255);
    background-color: var(--main-light-green);
    border-radius: 1.5rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 50rem;
    color: white;
    /* height: 4.5rem; */
}

li.closed {
    padding: 0.5rem 1rem;
    border: solid 5px rgb(255, 255, 255);
    background-color: gray;
    border-radius: 1.5rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 50rem;
    color: white;
}

#upcomingEvents {
    padding: 0;
}

.upcomingEvent-list{
    /* display: inline-flex;
    width: 100%;
    gap: 2rem; */
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 100%;
    /* grid-template-rows: 3.8rem; */
    align-items: center;
}

.mySignUps-list{
    /* display: inline-flex;
    width: 100%;
    gap: 2rem; */
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 3.8rem; */
    align-items: center;
}


@media screen and (min-width: 40rem) {

    .upcomingEvent-list{
        grid-template-columns: 30% 70%;
    }

    .mySignUps-list{
        grid-template-columns: 30% 70%;
    }
}

@media screen and (min-width: 60rem) {

    .upcomingEvent-list{
        grid-template-columns: 25% auto 25% 5%;
    }

    .mySignUps-list{
        grid-template-columns: 75% 25%;

    }

    li.close{
        grid-template-columns: 50% 50%;
    }
}

.mySignUps-list:last-child{
    justify-self: end;
}

.date p:first-child{
    margin-bottom: 0rem;
    }
    
.date p:last-child{
margin-top: 0rem;
}


/* TABLE ***************************************************/

table {
    font-size: inherit;
    display: block;
    width: max-content;
    border-collapse: collapse;
    margin: 1rem auto;
    border: 1px solid #369;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--main-light-green);
}

td p {
    margin: 0.3rem;
}

th{
    padding: 0.5rem;
    background-color: var(--cream);
    color: var(--main-light-green);
}

th:first-child{
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

th:last-child{
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

td {
    padding: 0.3rem 0.8rem;
    border-bottom: 1px solid var(--cream);
    color: white;
}

table td a{
    color: white;
}

table td a:hover{
    color: var(--main-yellow);
}

/* FORMS *****************************************************/

form {
    width: 100%;
    max-width: 25rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid var(--main-light-green);
    border-radius: 0.5rem;
    background-color: var(--main-light-green);
}

label {
    display: block;
    color: white;
}

input, select, textarea {
    border-radius: 0.5rem;
    width: 100%;
    display: block;
    font: inherit;
    background-color: var(--cream);
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-style: none;
    color: black;
}

input[type=submit] {
    margin-top: 2rem;
}

textarea{
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
}

input:not(:last-child),
select:not(:last-child) {
    margin-bottom: 0.8rem;
}

/* FOOTER ****************************************************/

footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--main-light-green);
    font-size: 0.8rem;
    color: white;
}

footer div.credit{
    color: slategrey;
}